@(message: String)

@main("about") {

                                        <!-- Highlight Box -->

                                                <div class="row">
                                                        <div class="12u">
                                                                <div class="highlight-box">
                                                                        <h2>@Messages("about.page.label")</h2>
                                                                        <span>@Messages("about.page.description")</span>
                                                                        <p>@Messages("about.page.disclaimer")</p>
                                                                </div>
                                                        </div>
                                                </div>

}
